@import '../assets/variables.scss';

.App {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $color1;
  overflow: hidden;
  overflow-y: auto;

  .App__container {
    padding: 20px;
    width: 100%;
  }
}
