@import '../assets/variables.scss';

.Cities {
  margin: 0 auto;

  .Cities__loader {
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }

  .Cities__message {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: $color4;
    cursor: default;

    &.Cities__message--error {
      font-size: 16px;
      color: $color-danger;
      text-transform: uppercase;
    }
  }

  .Cities__city-btn {
    display: block;
    background-color: $color1;
    color: $color4;
    font-weight: bold;
    font-size: 35px;
    border: none;
    padding: 5px 10px;
    margin: 10px auto;
    outline: none;
    transition: 0.2s ease all;
    cursor: pointer;

    &:hover {
      color: $color3;
    }

    &:active {
      color: $color2;
    }
  }

  .Cities__add-btn {
    display: block;
    background-color: $color1;
    color: #0de00d;
    font-weight: bold;
    font-size: 55px;
    border: none;

    padding: 0 20px;
    margin: 10px auto;
    outline: none;
    transition: 0.2s ease all;
    cursor: pointer;

    &:hover {
      color: #219121;
    }
  }
}
