@import '../assets/variables.scss';
@import '../assets/mixins.scss';

.Login {
  margin: 0 auto;

  .Login__form {
    text-align: right;
    transition: 0.2s ease all;
    position: relative;

    & .Login__form__overlay {
      top: -20px;
      left: -20px;
      position: absolute;
      width: 120%;
      height: 120%;
      z-index: 999;
      display: none;
    }

    & .Login__form__loader {
      width: 35px;
      height: 35px;
      margin-top: -35px;
      display: none;
    }

    & .Login__form__error {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      margin-bottom: -50px;
      color: $color-danger;
      text-transform: uppercase;
      font-size: 14px;
      cursor: default;
    }
  }

  .Login__form--loading {
    opacity: 0.5;

    & .Login__form__overlay {
      display: block;
    }

    & .Login__form__loader {
      display: block;
    }
  }

  @include md {
    width: 50%;
  }

  @include lg {
    width: 30%;
  }

  @include xl {
    width: 320px;
  }
}
