@import '../assets/variables.scss';
@import '../assets/mixins.scss';

.Search {
  margin: 0 auto;
  text-align: right;

  .Search__suggestions {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: -35px 0 20px 0;
  }

  .Search__suggestions__item {
    color: $color3;
    font-size: 25px;
    font-weight: 500;
    margin: 2px 0;
    transition: 0.2s ease all;
    cursor: pointer;

    &:hover {
      background-color: $color2;
    }
  }

  .Search__suggestions__item__match {
    color: $color4;
  }

  @include md {
    width: 40%;
  }

  @include lg {
    width: 30%;
  }

  @include xl {
    width: 280px;
  }
}
