@import '../assets/variables.scss';
@import '../assets/mixins.scss';

.Weather {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .Weather__loader {
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }

  .Weather__desc,
  .Weather__city,
  .Weather__temp {
    text-align: center;

    @include md {
      width: 33.3%;
      text-align: center;
    }
  }

  .Weather__desc {
    order: 2;
    margin: 10px 0;
    @include md {
      order: 0;
      margin: 0;
    }
  }

  .Weather__desc__icon {
    margin: 0;
    font-size: 85px;
    color: $color5;

    @include md {
      font-size: 55px;
    }
  }

  .Weather__desc__details {
    margin: 0;
    font-size: 20px;
    color: $color4;
    text-transform: capitalize;

    @include md {
      font-size: 13px;
    }
  }

  .Weather__city {
    order: 1;
    margin: 0 0 60px 0;
    @include md {
      order: 0;
      margin: 0;
    }
  }

  .Weather__city__current-time {
    margin: 0;
    font-size: 70px;
    height: 65px;
    color: $color3;

    @include md {
      font-size: 40px;
      height: 40px;
    }
  }

  .Weather__city__name {
    margin: 10px 0 0 0;
    font-size: 40px;
    font-weight: bold;
    color: $color4;

    @include md {
      font-size: 25px;
    }
  }

  .Weather__temp {
    order: 3;
    @include md {
      order: 0;
    }
  }

  .Weather__temp p {
    margin: 8px 0;
    i {
      color: $color2;
      width: 30px;
      margin-right: 15px;
      font-size: 25px;
    }
    span {
      color: $color5;
      font-size: 25px;
    }

    @include md {
      i {
        width: 30px;
        margin-right: 10px;
        font-size: 18px;
      }
      span {
        font-size: 16px;
      }
    }
  }

  @include md {
    width: 70%;
    flex-flow: row wrap;
  }

  @include lg {
    width: 70%;
  }

  @include xl {
    width: 800px;
  }
}
