@import '../../assets/variables.scss';

.Back {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 35px;
  height: 40px;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
  background-color: $color1;
  color: $color5;
  border: none;
  outline: none;
  transform: rotate(180deg);
  transition: 0.2s ease all;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    color: $color3;
  }

  &:active {
    background-color: $color2;
  }
}
