@import '../../assets/variables.scss';

.btn {
  background-color: $color1;
  color: $color5;
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s ease all;
  cursor: pointer;

  &:hover {
    color: $color4;
  }

  &:active {
    color: $color3;
    background-color: $color2;
  }
}
