@import '../../assets/variables.scss';

.InputGroup {
  position: relative;
  margin: 45px 0;

  // input
  .InputGroup__input {
    display: block;
    width: 100%;
    padding: 0;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid $color3;
    background-color: $color1;
    color: $color4;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      background-color: $color1 !important;
    }
    &::placeholder {
      color: $color4;
      font-weight: 100;
      font-size: 18px;
      opacity: 0.3;
    }
  }

  // bar
  .InputGroup__bar {
    position: relative;
    display: block;
    width: 100%;

    &:before,
    &:after {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 1px;
      background-color: $color3;
      transition: 0.2s ease all;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  .InputGroup__input:focus ~ .InputGroup__bar:before,
  .InputGroup__input:focus ~ .InputGroup__bar:after {
    width: 50%;
  }

  // label
  .InputGroup__label {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: $color4;
    pointer-events: none;
    transition: 0.2s ease all;
  }

  .InputGroup__input:focus ~ .InputGroup__label,
  .InputGroup__input:valid ~ .InputGroup__label {
    color: $color3;
    top: -18px;
    font-size: 12px;
  }

  .InputGroup__spinner {
    width: 25px;
    height: 25px;
    margin-top: -35px;
    position: absolute;
    right: 0;
  }
}
