// theme colors
$color1: #132434;
$color2: #013876;
$color3: #267dbd;
$color4: #93b7cc;
$color5: #3893b1;
$color-danger: #a53333;

// view beakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
